.container {
  margin: 0 auto;
  max-width: 1360px;
}

/* header styles */
.header--home,
.header--contact {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 90%, 0 65%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 90%, 0 65%, 0 0);
  height: 500px;
  text-align: center;
  color: #fff;
}

.header--contact {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 75%, 0 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 75%, 0 75%, 0 0);
  overflow: auto;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

/* nav styles */
.nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* to fix weird bottom spacing */
  margin-bottom: -1px;
  max-width: 1360px;
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  list-style-type: none;
  padding: 0;
  width: 80%;
}

/* footer styles */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  transform: translateX(100%);
  transition: transform 0.5s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

 /* styles to make the responsive menu look better   */

.responsive-nav ul {
  list-style-type: none;
  padding: 0;
}

.responsive-nav ul li {
  margin-bottom: 16px;
}

.responsive-nav ul li a {
  color: #fff;
  font-size: 21px;
  letter-spacing: 1px;
}

.responsive-nav__open {
  transform: translateX(0)
}

/* give the hamburger menu styles  */

#menu-hamburger {
  cursor: pointer;
  z-index: 4;
  display: none;
  fill: #fff;
}

/*  css to animate the responsive hamburger menu */

#menu-hamburger rect {
  transition: all 0.5s;
}

.animate .hamburger-menu__rect1 {
  transform: rotate(35deg) translate(2px, -2px);
}

.animate .hamburger-menu__rect3 {
  transform: rotate(-35deg) translate(-7px, -2px);
}

.animate .hamburger-menu__rect2 {
  opacity: 0;
}

/* responsive styles */
@media screen and (max-width: 960px) {

  /* styles for individual post */
  .post {
    width: 100%;
  }

  .posts {
    flex-direction: column;
    margin: 0 5%;
  }

  .post1 {
    width: 100%;
  }

  .posts1 {
    flex-direction: column;
  }

  .blog-pagination {
    flex-direction: column;
  }

  .blog-pagination__wrapper {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and  (max-width: 600px) {
   /* nav styles */
  .nav {
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .nav__home {
    margin: 0;
  }

  .nav__list {
    display: none;
  }

   #menu-hamburger {
    display: block;
  }

  .logo {
    width: 180px;
  }
}

@media screen and (max-width: 400px) {
  /* header styles */
  .header--home {
    height: 400px;
  }

  .header__title {
    font-weight: 400;
    line-height: 1.3;
  }

  .logo {
    margin: 0;
    width: 100px;
  }
}