.container {
  margin: 0 auto;
  max-width: 1360px;
}

/* header styles */
.header--home,
.header--contact {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 90%, 0 65%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 90%, 0 65%, 0 0);
  height: 500px;
  text-align: center;
  color: #fff;
}

.header--contact {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 75%, 0 75%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 75%, 0 75%, 0 0);
  overflow: auto;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

/* nav styles */
.nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* to fix weird bottom spacing */
  margin-bottom: -1px;
  max-width: 1360px;
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  list-style-type: none;
  padding: 0;
  width: 80%;
}

/* footer styles */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* responsive styles */
@media screen and (max-width: 961px) {
  /* styles for individual post */
  .post {
    width: 100%;
  }

  .posts {
    flex-direction: column;
    margin: 0 5%;
  }

  .post1 {
    width: 100%;
  }

  .posts1 {
    flex-direction: column;
  }

  .blog-pagination {
    flex-direction: column;
  }

  .blog-pagination__wrapper {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 960px) {
  /* nav styles */
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__home {
    margin: 1em 0 0 0;
  }

  .nav__list {
    width: 100%;
  }

  .nav__list li {
    margin: 10px 10px 0 0;
  }
}

@media screen and (max-width: 400px) {
  /* header styles */
  .header--home {
    height: 400px;
  }

  .logo {
    width: 100px;
  }
}