/* header styles */
.header--home .nav a,
.header--contact .nav a {
  text-decoration: none;
  color: #fff;
}

.header--home .nav a:hover,
.header--contact .nav a:hover {
  text-decoration: underline;
  color: rgba(255,255,255,0.7);
}

.nav__home {
  margin: 1em 30px 1em 30px;
}

.nav__list li {
  margin: 0 10px;
}

/* logo styles */
.logo {
  width: 200px;
}

.logo:hover {
  animation: rainbow 10s infinite;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}
