---
layout: default
meta: explanations of advance topics in html, css and javascript.
title: Blog
changefreq: weekly
---

{% include nav.html %}

<h1>posts</h1>

<p>
  maybe have different pages for html css javascript which just display
  those articles..
</p>

<section>
  <ul class="posts1">
    {% for post in site.posts %}
    <li class="post1">
      <!-- <div>
        <a href="{{ site.baseurl }}{{ post.url }}">
        <img src="{{ site.baseurl }}/{{ post.pic }}" alt="{{ post.title }}">
        </a>
      </div> -->
      <div>
        <h3> <a class="post1__link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> </h3>
        <!-- <p>{{ post.meta }}  <a  href="{{ site.baseurl }}{{ post.url }}">read more</a> </p> -->
      </div>
    </li>
    {% endfor %}
  </ul>

  <!-- archive maybe no need -->

  <!-- {% for post in site.posts %}
     {% assign currentDate = post.date | date: "%Y" %}
     {% if currentDate != myDate %}
     <section >
         {% unless forloop.first %}</ul>{% endunless %}
           <h1>{{ currentDate }}</h1>
           <ul>
           {% assign myDate = currentDate %}
       {% endif %}
       <li><a  href="{{site.baseurl}}{{ post.url }}"><span>{{ post.date | date: "%B %-d" }}</span> - {{ post.title }}</a></li>
       {% if forloop.last %}
       <li><a  href="{{site.baseurl}}/tags">all tags</a></li>
      </ul>
     </section>
     {% endif %}
   {% endfor %} -->

</section>
