<!-- for pagination -->
<article class="blog-pagination">
  {% if include.prev %}
  <div class="blog-pagination__wrapper">
    <a class="blog-pagination__link" href="{{ include.prev.url }}">
      <div class="blog-pagination__img" style="background-image:url({{ site.baseurl }}/{{ include.prev.pic }})"></div>
      <div class="blog-pagination__contain">
        <h3 class="blog-pagination__title">{{ include.prev.title }}</h3>
      </div>
    </a>
  </div>
  {% endif %}

  {% if include.next %}
  <div class="blog-pagination__wrapper">
    <a class="blog-pagination__link" href="{{ include.next.url }}">
      <div class="blog-pagination__img" style="background-image:url({{ site.baseurl }}/{{ include.next.pic }})"></div>
      <div class="blog-pagination__contain">
        <h3 class="blog-pagination__title">{{ include.next.title }}</h3>
      </div>
    </a>
  </div>
  {% endif %}
</article>
