<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- seo -->
    <meta name="description" content="{% if page.meta %}{{ page.meta }} {{ site.title }}{% else %}{{ site.description }}{% endif %}">

    <meta property="og:title" content="{% if page.title %}{{ page.title }} · {{ site.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if page.meta %}{{ page.meta }} {{ site.title }}{% else %}{{ site.description }}{% endif %}">
    <title>
      {%if page.title %}
        {{ page.title }} · {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>


    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>
  <body>
    <main>
      {% include nav.html %}
      {{ content }}
    </main>
  </body>
</html>
